<h1>
	This is the secret page!!!
</h1>

<p>
	You found me!
</p>

<img src="https://thumbs.dreamstime.com/z/fat-horrible-clown-27808819.jpg">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Log In!</a></li>
<li><a href="/logout">Log Out!</a></li>